{{define "partial:nav"}}
  <nav>
    <div class="hidden lg:flex lg:min-w-0 lg:flex-1 lg:justify-center lg:gap-x-12">
      <p class="font-semibold text-gray-900 hover:text-gray-900 mb-5">Random MWOD</p>
    </div>
  </nav>
{{end}}

